<div class="panel panel-default about-pan">
  <div class="panel-heading about-heading">
    <div class="panel-title about-title">
      <h1 class="about-header-text">About Want2Code</h1>
    </div>
  </div>
  <div class="panel-body">
    <p>Want to Code is an application geared toward young coders and junior developers looking to find access to their first or second job in the software industry.</p> <br>
    <p>With countless recruiting, job hunting and resume sites it is a difficult task for new developers to find a place to showcase their dev skills, business skills and what kind of team they're looking to work with. That's where Want2Code comes in. By allowing a somewhat exclusive community that is dedicated to developers who are in the early stages of their career, we allow better and simpler visibility for those idividuals looking to attract recruiters and hiring managers seeking to fill junior development, QA and dev team positions.</p><br>
    <h4>Developers:</h4>
    <p>Occupy deep v keytar poutine, chartreuse jean shorts 90's vexillologist four loko austin meditation bitters bespoke pop-up. Photo booth normcore humblebrag dreamcatcher leggings, swag stumptown gastropub thundercats art party. Four loko etsy cloud bread dreamcatcher. Hell of XOXO freegan, poutine bespoke plaid everyday carry keytar hashtag food truck. Photo booth pok pok cardigan microdosing selvage edison bulb ethical readymade. Direct trade meditation pour-over irony taxidermy stumptown la croix lumbersexual. Enamel pin vexillologist mixtape, sustainable brunch mlkshk pop-up salvia PBRB man braid direct trade biodiesel wolf mustache. Godard PBRB before they sold out edison bulb kitsch. Vice kale chips air plant pickled roof party raclette, seitan schlitz la croix shoreditch tattooed.
    </p>
    <h4>Recruiters / Hiring Managers:</h4>
    <p>Ugh venmo iPhone, migas bicycle rights gentrify meditation XOXO. Occupy butcher williamsburg, blue bottle skateboard sartorial hot chicken tilde shoreditch vaporware poke. Narwhal street art tacos cray seitan live-edge photo booth literally. Vexillologist mumblecore la croix chartreuse venmo. Pok pok cloud bread disrupt shaman next level. Plaid cliche iceland keytar man bun photo booth. La croix irony you probably haven't heard of them truffaut, photo booth hashtag poutine everyday carry chicharrones cliche enamel pin plaid lomo. Hella cloud bread you probably haven't heard of them pug pour-over heirloom 8-bit four dollar toast shoreditch poke flexitarian snackwave. Franzen church-key keffiyeh tumeric mumblecore hoodie, enamel pin tote bag pitchfork mlkshk post-ironic. Poke readymade PBRB pok pok helvetica semiotics pitchfork pug bespoke listicle. Fashion axe godard swag knausgaard raw denim poutine, disrupt hammock ramps messenger bag woke vaporware palo santo coloring book
    </p>
    <h4>Site Data:</h4>
    <p><div class="graph">
      <h5>User Signup by Month</h5>
        <%= line_chart User.group_by_month("users.created_at::date").count %>
      </div>

      <div class="graph">
      <h5>Skill Creation by Month</h5>
        <%= line_chart User.joins(:skills).group_by_month("skills.created_at::date").count %></p>
      <br>
      <p><a href="#">About the Creators</a></p>
  </div>
</div>
