<div class="panel panel-default about-pan">
  <div class="panel-heading about-heading">
    <div class="panel-title about-title">
      <h1 class="about-header-text">MEET OUR FOUNDERS</h1>
    </div>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title founder-header">Joel Lindow</h2>
          </div>
          <div class="panel-body">
            <p class="center-text">
              <img class="img-circle founder-image" src="https://scontent-dft4-3.xx.fbcdn.net/v/t1.0-9/17992339_10155260200255970_1316155246570587786_n.jpg?oh=c8a92ec4fb5eabfa4c395f92c05849ec&oe=5A1DB5A0" alt="Joel Profile Picture">
            </p>
            <p>
              Joel is a father of four with a 20 year work history in negotiation, management, mentorship, startups and entrepeneurial efforts. In late 2016, Joel decided to pursue a lifelong hobby/passion and seek a formal education in software development.
            </p>
            <p>
              Joel has always loved computers. At 5 years old he first got to play with a family members Commodore 64 and build images in ASCII characters, as well as learn how a terminal based operating system worked. As a child Joel built his first personal computer out of leftover parts he was able to collect from family members, local companies and small computer shops throwing out old parts. A glorious 286 pc with under 1mb of ram and an 8MB hard drive. Joel soon taught himself DOS and began tinkering in QBasic with basic programing and manipulation of software. After acquiring a 1200bps modem, Joel started accessing locally hosted BBS services and hosting his own small local BBS service through modem terminal software. This, over the years evolved into a love for software and a curiosity of how to enhance and manipulate software.
            </p>
            <p>
              By high school Joel didn't have access to resources in the form of computer education. He decided to start a coding club. Only 1 other member and an interested mathematics teacher showed up. Over the course of a semester, this small team took on the task of self-teaching Borland C++ and building small applications. Although a very difficult language to start in, the team was able to learn some interesting concepts in functional programing. This lead to the small team registering for the Denver University / Hewlet Packard Coding competition. 2 self taught high school freshmen with less than 4 months of experience found themselves up against 40 teams of college students, and a handful of Highschool seniors from schools that had formal programing courses. By the end of the competition, Joel's team took 11th place. Not an amazing accomplishment, but due to the willingness to persevere the team was able to achieve 11th due to how many other teams gave up on the extensive list of complicated challenges the competition had to offer. Thanks to a wonderful woman willing to add to her busy schedule as a teacher, Joels team was encouraged to "keep trying" even when tasks seemed impossible. This made all the difference.
            </p>
            <p>
              Many years passed. Joel grew older. Started small businesses. Worked some horrible jobs. He spent many years working with teams in the non-profit sector. Joel also was married at a fairly young age. He began raising a child and eventually the responsibilities of adult life led him down career paths that no longer left room for his passion with technology. Although Joel would use out-of-box web development tools to take on side projects for extra cash, Joel was no longer pursuing growth in any raw programing language.
            </p>
            <p>
              Fast forward to late 2016. Joel had just seen his wife complete an educational process that allowed her to recognize her lifelong goal of being a software developer. She was amazing and inspiring and Joel's lost dream was deeply regreted. This finally pushed Joel to abandon a fulfilling career in interdepartmental management within the renewable energy industry and pursue his dream of software development once again.
            </p>
            <p>
              With this pursuit came the realization that junior developers and self taught developers might be at a very strong disadvantage. If you didn't have access to a formal education in computer science or programing at a young age, or possibly didn't have the financial means to pursue your dreams at the right time in your life, how would you approach using skills developed later to enter a completely new industry? Joel saw the answer, based on previous experience in other industries, as "Networking" and the use of online networking tools. He always has believed that before jobs, income, title or anything else... there must be an opportunity to make an introduction and form a basic relationship that all other things can be built upon. This was the inspiration for a little application known as Want2Code.
            </p>
            <p>
              Joel loves software development. Moreso, he loves the relationships that can be gained and the opportunities that can be provided to people of all races, genders, ethnicities and belief systems through the software industry. "Coding if for anyone who believes in themselves enough to take the first step to begin learning and then take the steps to build relationships with others who are also seeking personal growth and a place to make meaningful contributions", says Joel.
            </p>
            <p>
              Joel is still unsure of where the long road of software development will lead him, but he's positive that the journey will be a fantastic challenge filled with amazing relationships, mentoring opportunities, learning opportunities and fantastic stories.
            </p>

          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title founder-header">Sam Lim</h2>
          </div>
          <div class="panel-body">
            <p class="center-text">
              <img class="img-circle founder-image" src="https://cdn.bulbagarden.net/upload/thumb/0/0d/025Pikachu.png/250px-025Pikachu.png" alt="Joel Profile Picture">
            </p>
            <p>
        Sam is a 19 year old who decided to embark on the path of software development in the last year of high school. From a young age Sam loved computers. He taught himself to program during his childhood, and knew even then that he wanted to be a developer when he grew up.
        </p>
        <p>
        Sam's first experience in the world of programming was when he was 13 years old and discovered the hyper-popular then-indie game Minecraft. Shortly after that discovery he was neck-deep in Java documentation and custom mods he had built for the aforementioned game. Soon he progressed from Java to Python, falling in love with the simplicity and overhaul of syntactic sugar. Within several years scripting in Python soon became an everyday habit, eventually sparking an interest in Cyber-Security/Pentesting.
        </p>
        <p>
        From there, Sam continued to crave knowledge. From Linux to researching software exploits, time flew and interest gained until his senior year of high school. Sam decided to participate in the local Science and Engineering fair, submitting his Python + WebPY project entitled "The Consequences of Metadata in Social Networking Today". He developed a Twitter crawler backend that harvested information on a specified demographic. He then wrapped the entire crawler in a sleek frontend boasting analysis and statistics. He won 1st place in Computer Engineering and soon-after discovered the school in which he currently resides.
        </p>
        <p>
        Since then Sam has been focusing immensley on school and has become an outspoken advocate for Online Privacy in the growing <i>Age of Information.</i> He and the rest of the world are very much looking forward to what he comes out with next.
        </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
