<div class="well index-well">
  <div class="row">

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Welcome</h3>
        </div>
        <div class="panel-body">
          BLAH BLAHBITY BLAH BLEH BLUH BLOBBY BLOB BLAH BLERT BLAGH BLAH BLAHBITY BLAH BLEH BLUMF BLOBBY BLOB BLAH BLAGH BLORB BLAH BLAHBITY BLAH BLEH BLOBBY BLOB BLOO BLAH BLAGH BLAH BLAHBITY BLAH BLOW BLEH BLOBBY BLOB BLAH BLING BLAGH BLAH BLAHBITY BLAH BLONDE BLEH BLOBBY BLOB BLECK BLAH BLAGH
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Learn More About Us</h3>
        </div>
        <div class="panel-body">
          BLAH BLAHBITY BLAH BLEH BLUH BLOBBY BLOB BLAH BLERT BLAGH BLAH BLAHBITY BLAH BLEH BLUMF BLOBBY BLOB BLAH BLAGH BLORB BLAH BLAHBITY BLAH BLEH BLOBBY BLOB BLOO BLAH BLAGH BLAH BLAHBITY BLAH BLOW BLEH BLOBBY BLOB BLAH BLING BLAGH BLAH BLAHBITY BLAH BLONDE BLEH BLOBBY BLOB BLECK BLAH BLAGH         </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login or Create Account</h3>
        </div>
        <div class="panel-body">
          BLAH BLAHBITY BLAH BLEH BLUH BLOBBY BLOB BLAH BLERT BLAGH BLAH BLAHBITY BLAH BLEH BLUMF BLOBBY BLOB BLAH BLAGH BLORB BLAH BLAHBITY BLAH BLEH BLOBBY BLOB BLOO BLAH BLAGH BLAH BLAHBITY BLAH BLOW BLEH BLOBBY BLOB BLAH BLING BLAGH BLAH BLAHBITY BLAH BLONDE BLEH BLOBBY BLOB BLECK BLAH BLAGH         </div>
      </div>
    </div>

  </div>
