/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

html {
  font-family: 'Encode Sans Condensed', sans-serif;
}
.logo-icon {
  font-size: 30px;
}
.message {
  color: #222f3d ;
}
.brand-icon {
  padding-top: 3px;
  font-size: 20px;
}
.log-button {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 7px;
}
.nav-click {
  font-size: 20px;
}
.navbar-brand {
  font-size: 28px;
  font-weight: 300;
  padding-top:10px;
  letter-spacing: -1px;
}
.navbar {
  border-radius: 0px;
  background-color: #222f3d;
  margin-bottom: 0px;
}
.about-pan {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.about-title {
  height: 90px;
  /*opacity: 0.8;*/
  background-color: #222f3d;
  background-size: cover;
}
.about-heading {
  padding: 0px;
}
.about-header-text {
  text-align: center;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  margin-top: 0px;
  margin-left: 10px;
  padding-top: 10px;
}
.index-avatar {
  width: 70px;
  height: 70px;
}
.index-card-users {
  border-style: solid;
  border-width: thin;
  border-color: gray;
  background-color: whitesmoke;
  padding: 10;
  /*padding: 6px;*/
  /*height: 80px;*/
}
.profile-pic {
  width: 200px;
  height: 200px;
}
.box-card {
  width: 200px;
  height: 200px;
}
.user-show-avatar {
  /*height: 200px;*/
  width: 100%;
  margin-top: 20px;
  border-radius: 8px;
}
.grey-back-header {
  background-color: #222f3d;
  color: white;
}
.center-text {
  text-align: center;
}
.index-well {
  margin: 10px;
}
.panel {
  border-radius: 0px;
}
.panel-default>.panel-heading {
  background-color: #222f3d;
  color: white;
  border-radius: 0px;
}
.founder-image {
  height: 150px;
}
.founder-header {
  font-size: 26px;
  text-align: center;
}
.alert {
  text-align: center;
  padding: 0px;
  margin-bottom: 0px;
}
.alert-words {
  margin: 0px;
}
.skill {
  margin-bottom: 0px;
}



.row.index-row{
margin: 20px auto;
}
figure.snip1174 {
color: #fff;
position: relative;
float: left;
overflow: hidden;
background-color: #1a1a1a;
color: #ffffff;
text-align: left;
margin: 10px;
width: 100%;
border-radius: 0px;
}
figure.snip1174 * {
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-transition: all 0.35s ease;
transition: all 0.35s ease;
}
figure.snip1174 img {
max-width: 100%;
-webkit-transform: scale(1.1);
transform: scale(1.1);
vertical-align: top;
opacity: 0.7;
}
figure.snip1174 figcaption {
position: absolute;
padding: 40px 25px;
top: 0;
left: 0;
}
figure.snip1174 h2,
figure.snip1174 p {
margin: 0;
padding: 0;
}
figure.snip1174 h2 {
margin-bottom: 10px;
display: inline-block;
font-weight: 100;
font-size: 1.8em;
}
figure.snip1174 p {
font-weight: 300;
margin-bottom: 20px;
line-height: 1.4em;
}
figure.snip1174 a {
display: inline-block;
padding: 10px 20px;
border: 1px solid #ffffff;
text-decoration: none;
color: #ffffff;
letter-spacing: 2px;
text-transform: uppercase;
font-size: 0.8em;
-webkit-transform: translateY(50%);
transform: translateY(50%);
opacity: 0;
}
figure.snip1174 a:hover {
background-color: rgba(0, 0, 0, 0.2);
}
figure.snip1174.blue {
background-color: #20638f;
}
figure.snip1174.yellow {
background-color: #c87f0a;
}
figure.snip1174.green {
background-color: #1e8449;
}
figure.snip1174.navy {
background-color: #222f3d;
}
figure.snip1174.red {
background-color: #962d22;
}
figure.snip1174:hover img,
figure.snip1174.hover img {
opacity: 0;
-webkit-transform: scale(1);
transform: scale(1);
}
figure.snip1174:hover a,
figure.snip1174.hover a {
-webkit-transform: translateY(0);
transform: translateY(0);
opacity: 1;
}
